/HW1/TCPSockets/nbproject/private/
/HW1/TCPSockets/build/
/HW1/HangmanGame/nbproject/private/
/HW1/HangmanGame/build/

*.class
/HW2/NonBlockingSockets/nbproject/private/
/HW2/NonBlockingSockets/build/