<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content">

    <section>
        <h1>Create Currency</h1>
        <p class="info">Create New Currency</p>
        <form th:action="@{/currency-converter-create}" th:object="${createCurrencyForm}" method="post">
            <p class="form"><label for="create-currency">New Currency</label>:<input type="text"
                                                                                                 th:field="*{currency}"
                                                                                                 id="create-currency"/>
                <span class="error" th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}">Naming Error
                </span></p>
            <p class="form"><label for="set-exchange-rate">Initial
                Balance</label>:<input type="number" step="0.00001" th:field="*{exchangeRate}"
                                       id="set-exchange-rate"/>
                <span class="error" th:if="${#fields.hasErrors('exchangeRate')}"
                      th:errors="*{exchangeRate}">Error In Exchange Rate</span></p>
            <p class="submit"><input type="submit" value="Create Currency"/>
            </p>
        </form>
    </section>

    <section>
        <h1>Convert Currency</h1>
        <p class="info">Please enter the number of the account you are looking
            for</p>
        <form th:action="@{/currency-converter-convert}" th:object="${currencyConverterForm}" method="post">
            <p class="form"><label for="set-own-currency">Own
                Currency</label>:<input type="text"
                                      th:field="*{ownCurrency}"
                                      id="set-own-currency"/>
                <span class="error"
                      th:if="${#fields.hasErrors('ownCurrency')}"
                      th:errors="*{ownCurrency}">Currency Does Not Exist</span></p>
            <p class="form"><label for="set-dest-currency">Account
                Number</label>:<input type="text"
                                      th:field="*{destCurrency}"
                                      id="set-dest-currency"/>
                <span class="error"
                      th:if="${#fields.hasErrors('destCurrency')}"
                      th:errors="*{destCurrency}">Currency Does Not Exist</span></p>
            <p class="form"><label for="set-amount">Exchange
                Rate</label>:<input type="number" step="0.01"
                                      th:field="*{amount}"
                                      id="set-exchange-rate"/>
                <span class="error"
                      th:if="${#fields.hasErrors('set-amount')}"
                      th:errors="*{set-amount}">Wrong Amount</span></p>          
            <p class="submit"><input type="submit" value="Convert Currency"/></p>
        </form>
    </section>

</main>
</body>
</html>